    @import url(./variables.css);
    /* start navigation */
    
    .navbar {
        border-bottom: 1px solid rgb(207, 204, 204);
    }
    
    #navbarNav {
        justify-content: right;
    }
    
    .header_area {
        position: sticky;
        top: 0;
        background-color: white;
        width: 100%;
    }
    
    .header_area .main-menu .navbar .navbar-brand {
        padding: 0 0rem 0 2rem;
        color: black;
    }
    
    .header_area .main-menu .navbar {
        padding: 1rem 0 1rem;
    }
    
    .header_area .main-menu .nav-item .nav-link {
        font-weight: 500;
        padding: 1.2rem;
        color: black;
        font-size: 16px;
    }
    /* gradient colors */
    
    .header_area .main-menu .navbar-nav .active a {
        background: var( --gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    .header_area .main-menu .navbar-nav a:hover {
        background: var( --gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    /* end navigation */
    /* Home Area Starts*/
    
    .site-banner {
        /* border: 2px solid green; */
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(161, 160, 160);
    }
    
    .site-banner .sitegap {
        height: 30px;
    }
    
    .site-banner .container .row div {
        height: 500px;
    }
    
    .site-banner .container .row #banner-pic {
        display: flex;
        justify-content: center;
        /* border: 2px solid blue; */
        /* background-color: ; */
        /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
        align-items: center;
    }
    
    .site-banner .container .row #banner-pic img {
        height: 480px;
        /* border: 1px solid red; */
    }
    
    .site-banner .container .row #banner-pic img:hover {
        box-shadow: 0px 0px 5px black;
        border-radius: 5px;
        height: 485px;
    }
    
    .site-banner .container .row #banner-content {
        display: flex;
        flex-direction: column;
        /* border: 2px solid yellow; */
        background-color: rgb(161, 160, 160);
        gap: 10px;
        /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
    }
    
    .site-banner .container .row #banner-content h1 {
        font-size: 25px;
        color: white;
    }
    
    .site-banner .container .row #banner-content h1:nth-child(2) {
        font-size: 55px;
        color: white;
    }
    
    .site-banner .container .row #banner-content h2 {
        padding-top: 15px;
        color: rgb(235, 235, 235);
    }
    /* main details icon-content */
    
    .main-details {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
    
    .main-details p {
        display: flex;
        align-items: center;
    }
    
    .main-details p a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .main-details p a:hover {
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .main-details p a .fa-regular:hover {
        font-size: 35px;
    }
    
    .site-banner .container .row #banner-content #social-link {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        gap: 30px;
    }
    /* Home Area Ends*/
    /* About Area Starts */
    
    .about {
        height: fit-content;
        /* border: 2px solid red; */
        background-color: rgb(40, 38, 38);
    }
    
    .about .container .row div {
        height: 500px;
        /* border: 2px solid green; */
        background-color: rgb(40, 38, 38);
    }
    
    .about .container .row #aboutme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }
    
    .about .container .row #aboutme h1 {
        font-size: 20px;
        font-weight: 400;
        text-indent: 50px;
        text-align: justify;
        color: white;
    }
    
    .about .container .row #aboutme h1:nth-child(1) {
        font-weight: bold;
        text-indent: 0px;
        font-size: 25px;
    }
    
    .about .container .row #aboutskills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    
    .about .container .row #aboutskills .progress {
        height: 30px;
        border: 2px solid white;
    }
    
    .about .container .row #aboutskills h1 {
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    /* About Area Ends */
    /* education area starts */
    
    .education {
        height: fit-content;
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(161, 160, 160);
    }
    
    .education .container .row div {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
    }
    /* .education .container .row div:nth-child(1) {
    border: 2px solid yellow;
}

.education .container .row div:nth-child(2) {
    border: 2px solid rgb(13, 255, 0);
}

.education .container .row div:nth-child(3) {
    border: 2px solid rgb(255, 3, 188);
} */
    
    .education .container .row div .stream {
        height: 350px;
        /* border: 2px solid rgb(13, 0, 255); */
        width: 340px;
        display: flex;
        flex-direction: column;
        background-color: rgb(40, 38, 38);
        border-radius: 10px;
    }
    
    .education .container .row div .stream h1 {
        text-align: center;
        margin-top: 30px;
        color: white;
    }
    
    .education .container .row div .stream aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid; */
        color: white;
    }
    
    .education .container .row div .stream aside p {
        text-align: center;
    }
    
    .education .container .row div .stream:hover {
        box-shadow: 0px 0px 5px white;
        height: 365px;
        border: 1px solid white;
    }
    /* EDUCATION SECTION ENDS */
    /* CONTACT SECTION STARTS */
    
    .contact {
        height: fit-content;
        /* border: 2px solid greenyellow; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(40, 38, 38);
    }
    
    .contact .container .row div {
        height: 300px;
        width: 350px;
        /* border: 2px solid blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact .container .row div .contact-art {
        height: 300px;
        /* border: 2px solid yellow; */
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    
    .contact .container .row div .contact-art:nth-child(1) aside {
        display: flex;
        gap: 20px;
    }
    
    .contact .container .row div .contact-art:nth-child(1) aside h1 {
        font-size: 20px;
        font-weight: 400;
        color: white;
    }
    
    .contact .container .row div .contact-art:nth-child(2) aside input {
        display: flex;
        gap: 20px;
    }
    
    .contact .container .row #information .contact-art aside input {
        height: 40px;
        width: 340px;
        border: 1px solid;
        border-radius: 5px;
    }
    
    .contact .container .row #message .contact-art aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contact .container .row #message .contact-art aside textarea {
        height: 150px;
        width: 340px;
        border: 1px solid;
        border-radius: 5px;
    }
    
    .contact .container .row #message .contact-art aside input {
        background-color: white;
        border: 1px solid;
        border-radius: 5px;
        width: 100px;
        height: 40px;
    }
    
    .contact .container .row #message .contact-art aside input:hover {
        background-color: black;
        color: white;
        border: 1px solid black;
    }
    /* CONTACT SECTION SENDS */
    /* Footer Starts */
    
    .footer {
        height: fit-content;
        background-color: black;
    }
    
    .footer .container .row div {
        height: 200px;
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
    }
    
    .footer .container .row #foot1 h1 {
        font-size: 35px;
        color: white;
    }
    
    .footer .container .row #foot2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .footer .container .row #foot2 aside {
        /* border: 2px solid red; */
        height: fit-content;
        width: fit-content;
    }
    
    .footer .container .row #foot2 #foot-social ul {
        display: flex;
        justify-content: center;
        width: 300px;
        align-items: center;
        gap: 60px;
    }
    
    .footer .container .row #foot2 #foot-social ul li {
        list-style: none;
    }